.franjaA,.A,.C,.E{
    background:yellow;
    margin-bottom: 10px;
}
.franjaB,.B,.D,.F{
  background-color: black;
  color:white;
  margin-bottom: 10px;
}
div{
  height: 100px;
}
.A,.B{
  width: 280px;
  height: 150px;
  margin-bottom: 30px;
}
.C,.D{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: inherit;
}
.E,.F{
  padding: 1px;
  display: inline;
  font-size: 25px;
  width: 170px;
  height: 30px;
  border: yellow;
  margin-left: 30px;
  text-align:center;

}
